[submodule "sapphire"]
	path = sapphire
	url = https://github.com/silverstripe/sapphire.git
[submodule "cms"]
	path = cms
	url = https://github.com/silverstripe/silverstripe-cms.git
[submodule "themes"]
	path = themes
	url = https://github.com/silverstripe-themes/silverstripe-blackcandy.git
[submodule "auth_external"]
	path = auth_external
	url = https://hamishcampbell@github.com/hamishcampbell/silverstripe-auth-external.git
